# Core functionality - changes here should be rare!
/src/app.py                   @ShayneOell
/src/backend/database.py      @ShayneOell
/src/backend/routers/auth.py  @ShayneOell

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ShayneOell
